<% @user.followings.each do |user|%>
  <table>
  <tr>
    <td><%= link_to "#{user.nickname}", user_path(user) %></td>
    <td><%= render "follow_button", user: user %></td>
  </tr>
  </table>
<% end %>