/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

// 共通
.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

body {
  padding-top: 56px;
  background-color: #fffffe;
  margin-right: auto; //ここで中央寄せを指定する。
  margin-left: auto;
  width: 100%;
}


// リンク色消す
.Editlink {
  text-decoration: none;

  color: #272343;

  &:link {
    text-decoration: none;
    color: #272343;
  }

  &:visited {
    text-decoration: none;
    color: #272343;
  }

  &:hover {
    text-decoration: none;
    color: #272343;
  }

  &:active {
    text-decoration: none;
    color: #272343;
  }

}




// テーブル
th,
td {
  vertical-align: middle !important;
}

.break-word {
  word-break: break-word;
}

// フラッシュ
.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}

div.field_with_errors {
  display: contents;

  input,
  textarea {
    @extend .is-invalid;
  }
}

// いいね
.heart_red {
  color: #FF0080;
}

.heart_blue {
  color: #5279E7;
}

// 投稿一覧
.card-img-top {
  text-align: center;
}

.card-header {
  display: flex;
  align-items: center;


  li {
    list-style: none;
    margin-top: 5px;
    text-decoration: none;
    margin-left: 10px;

    &:last-child {
      margin-left: auto;
      padding: 0;
    }
  }
}

// ユーザーアイコン
.icon {
  object-fit: cover;
  border-radius: 50%;
}

// マイページ
.top_content {
  display: flex;
  margin: 10px 0 10px 0;
}

.left_content {
  flex: 1;
  // background-color: #eee;
  margin-right: 0;
  text-align: right;
}

.right_content {
  text-align: center;
  // background-color: #888;
  width: 60%;
  margin: 0;


  .right_top_content {
    display: inline-block;
    margin-top: 10px;
    padding-left: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 10px;

  }

}

// 投稿フォーム
.post_form {
  margin-right: 80px;
  margin-left: 80px;

  .btn-block {
    background-color: #ffd803;
  }
}